<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="lidar2d"
        params="name topic parent_link config *origin">
        <xacro:property name="M_PI" value="3.1415926535897931" />
        <xacro:property name="dummy_inertia" value="1e-09" />

        <joint name="${name}_base_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent_link}" />
            <child link="${name}_mount_link" />
        </joint>

        <link name="${name}_mount_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <!-- Origin of this mesh is the base of the bracket. -->
                    <mesh
                        filename="package://ipb_ros2_sim/description/sensors/meshes/hokuyo_ust10.stl" />
                </geometry>
                <material name="dark_grey" />
            </visual>
            <collision>
                <origin xyz="0 0 0.0175" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.05 0.035" />
                </geometry>
            </collision>
            <collision>
                <origin xyz="0 0 0.035" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.024" length="0.07" />
                </geometry>
            </collision>
        </link>

        <joint name="${name}_joint" type="fixed">
            <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
            <origin xyz="0 0 0.0474" rpy="0 0 0" />
            <parent link="${name}_mount_link" />
            <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
            <inertial>
                <mass value="0.001" />
                <origin xyz="0 0 0" />
                <inertia ixx="${dummy_inertia}" ixy="0.0"
                    ixz="0.0"
                    iyy="${dummy_inertia}" iyz="0.0"
                    izz="${dummy_inertia}" />
            </inertial>
            <!-- <visual>
                <origin xyz="0 0 -0.0474" />
                <geometry>
                    <mesh
                        filename="package://ipb_ros2_sim/description/sensors/meshes/hokuyo_ust10.stl" />
                </geometry>
            </visual> -->
        </link>

        <gazebo reference="${name}_link">
            <sensor name="lidar2d" type="gpu_lidar">
                <gz_frame_id>${name}_link</gz_frame_id>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>${config.update_rate}</update_rate>
                <topic>${topic}</topic>
                <pose relative_to="${name}_link">0 0 0 0 0 0</pose>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>${config.samples}</samples>
                            <resolution>1</resolution>
                            <min_angle>${(config.horizontal_fov.min + 0.01 if config.horizontal_fov.min == -135.0 else config.horizontal_fov.min) / 180 * M_PI}</min_angle>
                            <max_angle>${config.horizontal_fov.max / 180 * M_PI}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${config.range.min}</min>
                        <max>${config.range.max}</max>
                        <resolution>0.001</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>${config.noise.mean}</mean>
                        <stddev>${config.noise.std}</stddev>
                    </noise>
                </lidar>
            </sensor>
        </gazebo>
 
    </xacro:macro>

</robot>